@use "sass:map";

$mainfont: "Helvetica", "Arial", sans-serif;

//colors
$dark-wood: #855E42;
$clear-wood: #D2AB6F;
$medium-wood: #B48D51;


$square-side: 100px;

$pieces: "rook", "knight", "bishop", "king", "queen", "pawn"; 
$colors: "white", "black";
$width-proportions: ("rook": 0.56, "knight": 0.7, "king": 0.7, "queen": 0.739, "bishop": 0.721, "pawn":0.457);
$height-proportions: ("rook": 0.7, "knight": 0.7, "king": 0.7, "queen": 0.7, "bishop": 0.7, "pawn":0.6);

/*
$rook-width-proportion: 0.56;
$rook-height-proportion: 0.7;
$knight-width-proportion: 0.7;
$knight-height-proportion: 0.7;
$king-width-proportion: 0.7;
$king-height-proportion: 0.7;
$queen-width-proportion: 0.739;
$queen-height-proportion: 0.7;
$bishop-width-proportion: 0.721;
$bishop-height-proportion: 0.7;
$pawn-width-proportion: 0.457;
$pawn-height-proportion: 0.6;
*/

$default-pieces-url: "../images/default/"; 
//https://www.computerhope.com/cgi-bin/htmlcolor.pl?c=966F33


body {
	font-family: $mainfont; 
}

.button {
	display: inline-block;
	padding: 10px;
	text-align: center;
	color: $dark-wood;
	background-color: $clear-wood;	
	cursor: pointer;
	transition: all 0.2s ease;
}

.button:hover {
	background-color: $medium-wood;	
}


.row {
	display: flex;
	flex-direction: row;
}

.square {
	width: $square-side;
	height: $square-side;
	background-color: blue;
}


.dark {
	background-color: $dark-wood;
}

.clear {
	background-color: $clear-wood;
}

.piece {
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

@each $piece in $pieces {
	@each $color in $colors {
		.#{$color}-#{$piece} {
			background-image: url($default-pieces-url + "#{$color}-#{$piece}.png"); 
			background-size: map.get($width-proportions, $piece)*$square-side
					map.get($height-proportions, $piece)*$square-side;
		}
	}
}

