<h1>Chess Guevara</h1>
<h2>Sélectionnez ou créez une nouvelle partie</h2>
<div>
  {{# each games}}
    <div class="game"> {{ this }} </div>
  {{/each}}
  <div class="button">Nouvelle Partie</div>
</div>
